.card {
  --bg : rgb(39, 27, 61);
  --text: white;


  border: 1px solid hsl(0, 0%, 70%);
  border-radius: 15px;
  padding: 10px;
  margin: 30px 10px 30px;
  text-align: center;
  color: var(--text);
  max-width: 250 px;
  display: inline-block;
  background: var(--bg);
}

.card h2{
  color: var(--text);
}

.card .isSoldText{
  opacity: 0.6;
  font-weight: bold;
}
.card .card_image{
  max-width: 75%;
  border-radius: 15px;
  height: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  
}
